#results-message, #error-message, .number-box, .ping-pong-box, .pong-box, .ping-box {
  display: none;
}

#results-message, {
  color: #fff9e6;
  font-size: 20pt;
  font-weight: bolder;
}
h1 {
  color: white;
  font-size: 50pt;
  text-align: center;
  text-shadow: #C90 1px 0 10px;
  letter-spacing: 20px;
}


body {
  color: #fff9e6;
  font-family: sans-serif;
  background-image: url(../img/pingpong.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
}

.well {
  color: black;
  opacity: .85;
  font-size: 20pt;
  text-align: center;
}

.message-box {
  margin-top: 20px;
}
.column-box {
  width: 80%;
}
