#results-message, #error-message, .number-box, .ping-pong-box, .pong-box, .ping-box {
  display: none;
}

#results-message, {
  color: #fff9e6;
  font-size: 20pt;
  font-weight: bolder;
}
h1 {
  color: white;
  font-size: 50pt;
  text-align: center;
  text-shadow: #C90 1px 0 10px;
  letter-spacing: 20px;
  margin-bottom: 30px;
}
html {
  height: 100%;
}
body {
  color: #fff9e6;
  font-family: sans-serif;
  background-image: url(../img/pingpong.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
}

.results-box {
  margin-bottom: 100px;
}

.well {
  color: black;
  opacity: .70;
  font-size: 20pt;
  text-align: center;
}

.message-box {
  margin-top: 20px;
}
.column-box {
  width: 75%;
}

.bottom-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  font-size: 12px;
  background-color: #1c1c4a;
  opacity: .80;
}
/*.bottom-info p {
  padding: 10px;
}*/
