#results-message, #error-message, #submit-again, .results-box{
  display: none;
}

body {
  background-image: url(../img/pingpong.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
}
